<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="boardDAO">
	<!-- 게시판 목록 -->
	<select id="list" resultType="boardDTO">
	<![CDATA[
		SELECT b.num, b.title, u.name, b.date, b.count, b.contents, b.id, b.atch_file_id, f.ori_name
		FROM b_board as b
		INNER join b_users as u
		ON (b.id = u.id)
		inner join b_filedetail as f 
		on (b.atch_file_id = f.atch_file_id)
		WHERE del_chk = 'N'
		ORDER BY num DESC
	]]>
	</select>
	
	<!-- 게시물 전체 수 가져오기 -->
	<select id="boardCount" resultType="int">
		SELECT count(*) 
		FROM b_board;
	</select>
	
	<!-- 페이지 적용 -->
	<select id="pageList" resultType="hashmap" parameterType="hashmap">
	<![CDATA[
        SELECT b.num, b.title, u.name, date_format(b.date, '%Y-%m-%d') as date, b.count, b.id 
        FROM b_board as b
        INNER join b_users as u
        ON (b.id = u.id)
        WHERE del_chk = 'N'
        ORDER BY num DESC
        LIMIT #{pageStart}, #{perPageNum}
    ]]>
	</select>
	
	<!-- 총 게시글 수 -->
	<select id="countBoardList" resultType="Integer">
    <![CDATA[
        SELECT count(*)
        FROM b_board
        WHERE del_chk = 'N'
    ]]>
	</select>

	<!-- 해당 게시글 보기 -->
	<select id="select" parameterType="int" resultType="boardDTO">
	<![CDATA[
		SELECT DISTINCT b.num, b.title, u.name, b.date, b.count, b.contents, b.id, b.atch_file_id
		FROM b_board as b
		INNER join b_users as u
		ON (b.id = u.id)
		inner join b_filemaster as m
		on (b.atch_file_id = m.atch_file_id)
		WHERE del_chk = 'N' AND num = #{num}
		ORDER BY num DESC
	]]>
	</select>
	
	<!-- 삽입(첨부파일 추가)-->
	<insert id="insert" parameterType="boardDTO">
		INSERT INTO b_board (title, contents, id, atch_file_id)
		VALUES (#{title},#{contents},#{id},#{atch_file_id}) 
	</insert>
	
	<!-- 수정 -->
	<update id="update" parameterType="boardDTO">
		UPDATE b_board SET title = #{title},
		contents = #{contents}
		WHERE num = #{num}
	</update>
	
	<!-- 조회수 증가 -->
	<update id="updateCount" parameterType="int">
		UPDATE b_board 
		SET count = count+1
		WHERE num = #{num}
	</update>
	
	<!-- 삭제 : 게시판 상태값 -->
	<delete id="delete" parameterType="boardDTO">
	<![CDATA[
		UPDATE b_board SET del_chk = 'Y'
		WHERE num = #{num}
	]]> 
	</delete>
	
	<!-- 검색 대한 게시글 수 -->
	<select id="countArticle" resultType="int">
		SELECT count(*) 
		FROM b_board as b
		INNER JOIN b_users as u
		ON (b.id = u.id)
		WHERE del_chk = 'N'
		<include refid="search" />
	</select>
	
	<!-- 검색 -->
	<select id="searchList" resultType="boardDTO">
		SELECT b.num, b.title, u.name, date_format(b.date, '%Y-%m-%d') as date, b.count, b.id, b.atch_file_id 
		FROM b_board as b
		INNER JOIN b_users as u
		ON (b.id = u.id)
		WHERE del_chk = 'N'
		<include refid="search" />
		ORDER BY num DESC
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	<!-- MyBatis 동적 sql -->
	<sql id="search">
		<choose>
			<when test="searchType == 'all'">
				AND (u.name LIKE CONCAT('%', #{keyword}, '%')
				OR b.contents LIKE CONCAT('%', #{keyword}, '%')
				OR b.title LIKE CONCAT('%', #{keyword}, '%'))
			</when>
			<when test="searchType == 'writer'">
				AND u.name LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<when test="searchType == 'content'">
				AND b.contents LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<when test="searchType == 'title'">
				AND b.title LIKE CONCAT('%', #{keyword}, '%')
			</when>
		</choose>
	</sql>
</mapper>