<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="filesDAO">
	<!-- FileDetail Insert -->
	<insert id="insertFileDetail" parameterType="fileDetail">
		INSERT INTO b_filedetail (atch_file_id, file_sn, ori_name, save_name, save_path, file_size)
		VALUES (#{atch_file_id},#{file_sn},#{ori_name},#{save_name},#{save_path},#{file_size}) 
	</insert>
	
	<!-- FileMaster Insert -->
	<insert id="insertFileMaster" parameterType="fileMaster">
		INSERT INTO b_filemaster (atch_file_id)
		VALUES (#{atch_file_id}) 
	</insert>
	
	<!-- 게시글 번호에 해당하는 첨부파일의 목록을 조회하는 쿼리 -->
	<!-- 첨부파일의 크기를 Kb 단위로 보여주기 위해서 ROUND 함수 사용 -->
	<select id="selectFileList" parameterType="hashmap" resultType="hashmap">
	<![CDATA[
		SELECT b.num, f.file_key f.ori_name, f.save_name, f.save_path, ROUND(file_size/1024,1) AS file_size
		FROM b_files as f
		INNER JOIN b_board as b
		ON (f.file_key = b.file_key)
		WHERE b.num = #{num} AND del_chk = 'N'
	]]>
	</select>
	
	<select id="findFileDetailList" parameterType="String" resultType="fileDetail">
		<![CDATA[
			SELECT m.atch_file_id, f.file_sn, f.ori_name
			FROM b_filedetail as f
			INNER JOIN b_filemaster as m
			ON (f.atch_file_id = m.atch_file_id)
			WHERE m.atch_file_id = #{atch_file_id}
		]]>
	</select>
</mapper>