<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="filesDAO">
	<!-- FileDetail Insert -->
	<insert id="insertFileDetail" parameterType="fileDetail">
		INSERT INTO b_filedetail (atch_file_id, file_sn, ori_name, save_name, save_path, file_size)
		VALUES (#{atch_file_id},#{file_sn},#{ori_name},#{save_name},#{save_path},#{file_size}) 
	</insert>
	
	<!-- FileMaster Insert -->
	<insert id="insertFileMaster" parameterType="fileMaster">
		INSERT INTO b_filemaster (atch_file_id)
		VALUES (#{atch_file_id}) 
	</insert>
	
	<!-- 해당 키값의 파일 리스트 구하기 -->
	<select id="findFileDetailList" parameterType="String" resultType="fileDetail">
		<![CDATA[
			SELECT m.atch_file_id, f.file_sn, f.ori_name
			FROM b_filedetail as f
			INNER JOIN b_filemaster as m
			ON (f.atch_file_id = m.atch_file_id)
			WHERE m.atch_file_id = #{atch_file_id} 
			AND f.del_chk = 'N'
		]]>
	</select>
	
	<!-- filedetail에 데이터가 있는지 확인 -->
	<select id="checkDataToFD" resultType="int" parameterType="int">
		<![CDATA[
			SELECT count(*)
			FROM b_filedetail as f
			JOIN b_board as b
			ON (f.atch_file_id = b.atch_file_id)
			WHERE b.num = #{num}
		]]>
	</select>
	
	<!-- num값에 따른 atch_file_key값 가져오기 -->
	<select id="getKeyByNum" resultType="fileDetail" parameterType="int">
		<![CDATA[
			SELECT f.atch_file_id, f.file_sn 
			FROM b_filedetail as f
			INNER JOIN b_board as b
			ON (f.atch_file_id = b.atch_file_id)
			WHERE b.num = #{num}
			ORDER BY f.file_sn DESC limit 1		
		]]>
	</select>
	
	<!-- 키값과 SN값에 따른 해당 파일의 정보 구하기 -->
	<select id="findFileDetail" parameterType="fileDetail" resultType="fileDetail">
		<![CDATA[
			SELECT f.atch_file_id, f.file_sn, f.ori_name, f.save_name, f.save_path, f.file_size
			FROM b_filedetail as f
			INNER JOIN b_filemaster as m
			ON (f.atch_file_id = m.atch_file_id)
			WHERE f.atch_file_id = #{atch_file_id} 
			AND f.file_sn = #{file_sn} 
			AND m.use_at = 'Y'
		]]>
	</select>
	
	<!-- 파일 삭제의 경우 실제 삭제가 되는게 아니라 del_chk 상태 변화 --> 
	<delete id="fileDelete" parameterType="fileDetail">
		<![CDATA[
			UPDATE b_filedetail
			SET del_chk = 'Y'
			WHERE atch_file_id = #{atch_file_id} 
			AND file_sn = #{file_sn}
		]]>
	</delete>
	
	<!-- master 키값을 이용해서, filedetail의 키값 결과가 0이면 master삭제 -->
	<delete id="masterDelete" parameterType="String">
		DELETE FROM b_filemaster
		WHERE atch_file_id = #{oldKey}
	</delete>
	
	<update id="detailKeyUpdate" parameterType="fileDetail">
		<![CDATA[
			UPDATE b_filedetail
			SET acth_file_id = #{atch_file_id}, file_sn = #{file_sn}
			WHERE acth_file_id = #{oldKey} 
			AND file_sn = #{oldSn}
		]]>
	</update>
	
	<!-- 마스터의 키값 변경 -->
	<update id="masterKeyUpdate" parameterType="String">
		UPDATE b_filemaster
		SET atch_file_id = #{newKey}
		WHERE atch_file_id = #{atch_file_id}
	</update>
	
	<!-- 파일추가 없이 기존에 있던 파일이 전부 삭제될 경우 -->
	<!-- BOARD 테이블의 키값을 0으로 변경 -->
	<!-- 한번 이상 수정된 BOARD 테이블에 새로운 파일이 추가되는 경우 -->
	<!-- BOARD 테이블의 키값을 New Key 값으로 변경 -->
	<update id="updateBoardKey" parameterType="fileDetail">
		UPDATE b_board
		SET atch_file_id = #{atch_file_id}
		WHERE num = #{num}
	</update>
	
</mapper>