<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="filesDAO">
	<!-- FileDetail Insert -->
	<insert id="insertFileDetail" parameterType="fileDetail">
		INSERT INTO b_filedetail (atch_file_id, file_sn, ori_name, save_name, save_path, file_size)
		VALUES (#{atch_file_id},#{file_sn},#{ori_name},#{save_name},#{save_path},#{file_size}) 
	</insert>
	
	<!-- FileMaster Insert -->
	<insert id="insertFileMaster" parameterType="fileMaster">
		INSERT INTO b_filemaster (atch_file_id)
		VALUES (#{atch_file_id}) 
	</insert>
	
	<select id="findFileDetailList" parameterType="String" resultType="fileDetail">
		<![CDATA[
			SELECT m.atch_file_id, f.file_sn, f.ori_name
			FROM b_filedetail as f
			INNER JOIN b_filemaster as m
			ON (f.atch_file_id = m.atch_file_id)
			WHERE m.atch_file_id = #{atch_file_id}
		]]>
	</select>
	
	<select id="findFileDetail" parameterType="fileDetail" resultType="fileDetail">
		<![CDATA[
			SELECT *
			FROM b_filedetail
			WHERE 
				atch_file_id = #{atch_file_id} 
			AND 
				file_sn = #{file_sn}
		]]>	
	</select>
</mapper>